:host {
  display: block;
  width: 1000px;
  height: 700px;
  margin: 100px auto;
  overflow: hidden;
  color: white;
  background: linear-gradient(
    25deg,
    rgba(55, 54, 67, 1) 18%,
    rgba(90, 98, 140, 1) 75%
  );
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}
